[nagcal]
calendar_url = 
calendar_file = /usr/local/nagios/var/nagcal.calendar.cache
contacts_file = /usr/local/nagios/var/nagcal.contacts.cache
credentials_file = /usr/local/nagios/etc/nagcal.credentials
log_file = /usr/local/nagios/var/nagcal.log
phone_types = mobile,work
[oauth]
user_agent = NaGCal
display_name = NaGCal (Nagios On Call Calendar)
client_id = 648533157291.apps.googleusercontent.com
client_secret = 2J_3dxA-dU5lYeRXibb29MXo
